name: Rebase from upstream every 15 days
on:
  schedule:
    - cron: '0 0 */7 * *' # New cron job for rebasing every 7 days
  workflow_dispatch: # Manual trigger
jobs:
  rebase:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Git identity
        run: |
          git config user.name "shikharvaish28"
          git config user.email "shikarvaish@gmail.com"
      - name: Rebase from upstream
        run: |
          git remote add upstream https://github.com/BennyThadikaran/eod2_data
          git fetch upstream
          git rebase upstream/main
      - name: Configure pull strategy
        run: |
          git config pull.rebase true  # Configure to rebase divergent branches
      - name: Pull changes from origin
        run: |
          git pull origin main
      - name: Push changes
        run: |
          git push origin main
